/* Shared Styles */

/* Google Fonts Use  */

*{
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.Btn-Primary{
    border-radius: 8px;
    color: #FFF;
    font-size: 1.1rem;
    background: #FF900E;
    padding: 17px 22px;
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
}

.Section-Title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

.Text-Light-Gray{
    color: #727272;
}

/* Header Section Styles */

header{
    background-color: #ff8f0e2c;
    padding: 50px 150px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
}
nav > ul > li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav > ul > li > a{
    text-decoration: none;
    color: #424242;
}

/* Banner Styles */

.Banner-Content{
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}
.Banner-Title{
    font-size: 4rem;
    font-weight: 700px;
    color: #131313;
    margin: 40px 0px 20px 0px;
}
.Banner-Description{
    color: #727272;
    margin-bottom: 15px;
}
.Banner > img{
    width: 100%;
    margin-top: 10px;
}

/* Main Section Styles */

main{
    max-width: 1000px;
    margin: 0 auto;
}

/* Teams Styles */

.Teams-Container{
    display: flex;
    align-items: center;
    margin: 50px 0px;
}
.Teams-Img-Container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.Teams-Img-Container > img{
    width: 200px;
}
.Teams-Content{
    padding-left: 3rem;
    padding-right: 1.5rem;
}
.Teams-Content-Heading{
    font-size: 2.8rem;
}
.Quick{
    color: #727272;
    font-weight: 500;
}
.Features{
    color: #FF900E;
    font-weight: 700;
}
.Teams-Content-Description{
    padding: 20px 0px;
    color: #727272;
}

/* Features Section Style */

.Features-Container{
    display: flex;
    gap: 50px;
    margin-top: 70px;
}
.Features-Content > h3{
    font-size: 40px;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.Features-Content > p{
    margin: 15px 0px;
}
.Features-Content .Features-Content-Card{
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.6);
}
.Features-Image > img{
    width: 450px;
    margin-left: 45px;
}
.Ten-Years-Bedge{
    border-radius: 8px;
    background-color: #FF900E;
    color: #FFF;
    width: 200px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 93px;
}
.Ten-Years-Bedge > h2{
    font-size: 4rem;
    margin: 0;
}
.Ten-Years-Bedge > p{
    font-size: 1.5rem;
}

/* Facts Section Styles */

.Facts{
    margin-bottom: 20px;
}
.Facts-Card-Container{
    display: flex;
    justify-content: space-between;
}
.Facts-Card-Container .Card{
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}
.Facts-Card-Container .Card-Stats{
    font-size: 2rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Facts-Card-Container .Card-Title{
    font-weight: 600;
    color: #727272;
    font-size: 1.25rem;
    margin-top: 5px;
}
.Facts-Description{
    padding: 30px 0px;
    font-size: 1.4rem;
}

/* Sponsores Section Styles */

.Sponsores-Img-Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.Sponsors{
    text-align: center;
    margin-top: 30px;
}
.Sponsores-Description{
    color: #727272;
    margin: 20px 0px 25px 0px;
}
.Sponsores-Img-Container img{
    width: 165px;
}

.Footer-Section{
    background-color: #FFF4E7;
    padding: 20px 0px;
    font-size: 1rem;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    color: #727272;
}

/* Responsive Media Queries */

/* Mobile Devices */

@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    .Section-Title{
        font-size: 2rem;
    }
    nav{
        flex-direction: column;
    }
    nav > ul{
        padding: 20px 0px;
        text-align: center;
    }
    nav > ul > li{
        margin-right: 25px;
    }
    nav > ul > li:first-child{
        padding-left: 20px;
    }
    .Banner-Title{
        font-size: 30px;
        margin: 10px 0px 20px 0px;
    }
    .Teams-Container{
        flex-direction: column;
        gap: 20px;
        margin-bottom: 10px;
    }
    .Teams-Img-Container{
        grid-template-columns: 1fr;
    }
    .Teams-Img-Container > img{
        width: 295px;
    }
    .Teams-Content{
        padding: 0px 40px;
    }
    .Facts{
        padding: 0px 40px;
    }
    .Facts-Card-Container{
        flex-direction: column;
        gap: 20px;
    }
    .Facts-Card-Container .Card{
        width: 80%;
        margin: 0 auto;
    }
    .Facts-Description{
        font-size: 1.1rem;
        padding: 15px 0px;
    }
    .Sponsors{
        margin: 0px 40px;
    }
    .Sponsores-Img-Container{
        flex-direction: column;
    }
    .Features-Container{
        flex-direction: column;
        margin: 0px 40px;
        margin-bottom: 0px;
    }
    .Features-Image > img{
        width: 100%;
        margin: 0px;
    }
    .Ten-Years-Bedge{
        width: 100px;
        padding: 20px 10px;
        text-align: center;
        position: relative;
        bottom: 40px;
        left: -30px;
    }
    .Ten-Years-Bedge > h2{
        font-size: 1rem;
        margin: 0;
    }
    .Ten-Years-Bedge > p{
        font-size: 0.5rem;
    }
}

/* Tablet Devices */

@media screen and (min-width: 576px) and (max-width: 960px) {
    header{
        padding: 60px;
    }
    .Teams-Container{
        flex-direction: column;
        gap: 20px;
    }
    .Teams-Img-Container > img{
        width: 295px;
    }
    .Teams-Content{
        padding-left: 73px;
    }
    .Facts{
        width: 620px;
        margin: 0 auto;
    }
    .Facts-Card-Container{
        gap: 5px;
    }
    .Sponsors{
        width: 620px;
        margin: 0 auto;
    }
    .Sponsores-Img-Container{
        flex-direction: column;
    }
    .Features-Container{
        flex-direction: column;
        width: 620px;
        margin: 0 auto;
    }
}